/* card style  */
.card-style{
    background-color: antiquewhite;
    height: 550px;
    border: 1px solid yellow;
}
.card-style:hover{
    transform: scale(1.03);
    transition: all 1s;
}
/* add to cart button style  */
.btn-style{
    padding:3px;
    border-radius: 5px;
    width:100%;
    border:0;
}
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
   .card-style {
       height: 340px;
   }
}